.items {
	height: 100vh;
	display: flex;
}

.item {
	width: 50%;
    display: block;
	padding: 3rem;
	font-family: arial, sans-serif;
}

textarea {
	background-color: #1E1E1E;
	outline: none;
	border: none;
	height: 100%;
	width: 100%;
	color: #fff;
	font-size: 1rem;
}

.converted {
	font-size: .9rem;
	color: #1E1E1E;
}

.left {
	background-color: #1E1E1E;
}

.right {
	background-color: #f1f1f1;
}

code {
	background-color: #1e1e1e2e;
}